@model FootballerMVC.Models.Footballer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Footballer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JerseyNumber" class="control-label"></label>
                <input asp-for="JerseyNumber" class="form-control" />
                <span asp-validation-for="JerseyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationality" class="control-label"></label>
                <input asp-for="Nationality" class="form-control" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Goals" class="control-label"></label>
                <input asp-for="Goals" class="form-control" />
                <span asp-validation-for="Goals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assists" class="control-label"></label>
                <input asp-for="Assists" class="form-control" />
                <span asp-validation-for="Assists" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appearances" class="control-label"></label>
                <input asp-for="Appearances" class="form-control" />
                <span asp-validation-for="Appearances" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarketValue" class="control-label"></label>
                <input asp-for="MarketValue" class="form-control" />
                <span asp-validation-for="MarketValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubId" class="control-label"></label>
                <select asp-for="ClubId" class ="form-control" asp-items="ViewBag.ClubId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NationalTeamId" class="control-label"></label>
                <select asp-for="NationalTeamId" class ="form-control" asp-items="ViewBag.NationalTeamId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
